/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 199px;
  padding-top: 16px;
  padding-bottom: 24px;
  box-shadow: 2px 1px 2px #eee;
}

.logo {
  width: 129px;
  height: 17px;
}

.nav-links {
  display: flex;
  gap: 30px;
  padding-right: 250px;
}

.link {
  color: #666;
  padding-left: 10px;
  padding-right: 10px;
  font-family: sans-serif;
}

/* MAIN IMAGE */
.center-img {
  display: flex;
  justify-content: center;
}

.landing-img {
  width: 700px;
  height: 420px;
}

/* TEXT CONTENT */
.title {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 30px;
  margin-top: 20px;
}

.subtitle {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: #333;
  margin-top: 10px;
}

/* BUTTON */
.btn-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 45px;
}

.signup-btn {
  padding: 10px 30px;
  font-size: 19.2px;
  background-color: #2875d3;
  border-radius: 3px;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
